<h1>Best Books</h1>

<% @books.each_with_index do |book, index| %>
  <div class="card card-block">
    <div class="row">
      <div class="col-sm-2">
        <%= image_tag(book.img_url, :alt => book.title) %>
      </div>
      <div class="col-sm-10">
        <p class="card-title"><%= book.title.split.map(&:capitalize).join(' ') %></p>
        <p class="card-text"><%= book.author.split.map(&:capitalize).join(' ') %></p>
        <p class="card-text">NPS: <%= book.nps_score.round(2) %></p>
      </div>
    </div>
  </div>
<% end %>
