// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: rgb(250, 250, 250);
}

.navbar {
  border-radius: 0;
}

.book-grid {
  margin-top: 35px;
  background-color: #fff;
  border-radius: 8px;
  padding-top: 35px;
  border: 1px solid rgba(200, 200, 200, 0.4);
  text-align: center;
}

.bg-white {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.btn-nav-search {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.search-bar:focus {
  border-color: #ddd;
}

.btn-nav-search:hover {
  background-color: #fff;
  color: #222
}

.grid-item {
  height: 300px;
  text-align: center;
}

.grid-item p {
  margin: 0;
  padding: 0;
}

.book-link:hover {
  text-decoration: none;

  .book-title {
    color: #29B6F6;
  }

  .book-cover {
    height: 185px;
    width: 118px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .book-content {
    margin-top: 20px;
  }

  .book-nps {
    color: #01579B;
  }
}

.book-content {
  transition: all 0.25s cubic-bezier(.25,.8,.25,1);
}

.book-title {
  color: #2196F3;
  transition: color 0.25s ease-in-out;
}

.book-cover-lg {
  height: 250px;
  width: 160px;
}

.book-info {
  margin-bottom: 25px;
}

.book-author {
  color: #37474F;
}

.book-nps {
  color: rgba(0, 0, 0, 0.4);
  margin-top: 15px;
  border-radius: 4px;
  transition: color 0.25s ease-in-out;
}

.book-cover {
  height: 175px;
  width: 112px;
  transition: all 0.25s cubic-bezier(.25,.8,.25,1);
}

.book-details {
  text-align: center;
  padding: 25px;
}

.buy-img {
  width: 150px; height: 56px;
}

.good-nps {
  color: #69F0AE;
}

.bad-nps {
  color: #FF5252;
}

.regular-nps {
  color: #FFEA00;
}

.great-nps {
  color: #00C853;
}

.awful-nps {
  color: #D50000;
}

.vertical-divider {
  width: 0.5px;
  background-color: rgba(200, 200, 200, 0.4);
}

.horizontal-divider {
  width: 100%;
  background-color: rgba(200, 200, 200, 0.4);
  height: 0.5px;
  margin-bottom: 10px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.show-page {
  background-color: #fff;
  margin-top: 25px;
  padding: 25px;
  border-radius: 8px;
  border: 1px solid rgba(200, 200, 200, 0.4)
}

.description {
  margin-top: 15px;
}

.center-divider {
  margin-bottom: 35px;
  margin-top: 15px;
  width: 8%;
  height: 10px;
  border-radius: 2px;
  display: inline-block;
}

.center-divider.blue {
  background-color: #00B0FF;
}

.center-divider.green {
  background-color: #00E676;
}
