// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: rgb(250, 250, 250);
}

.navbar {
  border-radius: 0;
}

.book-grid {
  margin-top: 35px;
  background-color: #fff;
  border-radius: 8px;
  padding-top: 35px;
  border: 1px solid rgba(200, 200, 200, 0.4);
  text-align: center;
}

.bg-white {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.btn-nav-search {
  background-color: transparent;
  border: 1px solid #00B0FF;
  color: #00B0FF;
}

.btn-nav-search:hover {
  background-color: #00B0FF;
  color: #fff
}

.row-item {
  display: flex;
  justify-content: flex-start;;
  flex-direction: row;
  margin: 10px 35px;
  padding: 15px;
  align-items: center;
}

.grid-item p {
  margin: 0;
  padding: 0;
}

.book-content {
  transition: all 0.25s cubic-bezier(.25,.8,.25,1);
  float: left;
  text-align: left;
  width: 476px;
}

.book-title {
  color: #222;
  transition: color 0.25s ease-in-out;
  max-width: 475px;
}

.book-cover-lg {
  height: 250px;
  width: 160px;
}

.book-info {
  margin-bottom: 25px;
}

.book-author {
  color: #37474F;
}

.book-nps {
  color: rgba(0, 0, 0, 0.4);
  margin-top: 15px;
  border-radius: 4px;
  transition: color 0.25s ease-in-out;
}

.book-cover {
  height: 175px;
  width: 112px;
  margin-right: 25px;
  transition: all 0.25s cubic-bezier(.25,.8,.25,1);
}

.book-details {
  text-align: center;
  padding: 25px;
}

.buy-img {
  width: 150px; height: 56px;
}

.buy-img-index {
  width: 150px; height: 56px;
  margin-left: auto;
}

.good-nps {
  color: #69F0AE;
}
.good-nps.bg {
  background-color: #69F0AE;
}

.amazing-nps {
  color: #00C853;
}
.amazing-nps.bg {
  background-color: #00C853;
}

.bad-nps {
  color: #FF6E40;
}
.bad-nps.bg {
  background-color: #FF6E40;
}

.really-bad-nps {
  color: #FF3D00;
}
.really-bad-nps.bg {
  background-color: #FF3D00;
}

.great-nps {
  color: #00E676;
}
.great-nps.bg {
  background-color: #00E676;
}

.awful-nps {
  color: #DD2C00;
}
.awful-nps.bg {
  background-color: #DD2C00;
}

.vertical-divider {
  width: 0.5px;
  background-color: rgba(200, 200, 200, 0.4);
}

.horizontal-divider {
  width: 100%;
  background-color: rgba(200, 200, 200, 0.4);
  height: 1px;
  margin-bottom: 10px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.show-page {
  background-color: #fff;
  margin-top: 25px;
  padding: 25px;
  border-radius: 8px;
  border: 1px solid rgba(200, 200, 200, 0.4)
}

.description {
  margin-top: 15px;
}

.center-divider {
  margin-bottom: 35px;
  margin-top: 15px;
  width: 8%;
  height: 10px;
  border-radius: 2px;
  display: inline-block;
}

.center-divider.blue {
  background-color: #00B0FF;
}

.center-divider.green {
  background-color: #00E676;
}

.footer {
  height: 50vh;
  background-color: #222;
  color: white;
  text-align: center;
  margin-top: 35px;
  padding-top: 25px;
}

.gr-logo {
  width: 320px;
  height: 135px;
}

.gb-logo {
  width: 320px;
  height: 135px;
}

@keyframes heartcolor {
  0% {color: #FF8A80}
  50% {color: #FF1744}
  100% {color: #FF8A80}
}

.red-heart {
  color: #FF8A80;
  -webkit-animation: heartcolor 6s infinite; /* Safari 4.0 - 8.0 */
  animation: heartcolor 6s infinite;
}

.left-items {
  float: left;
}

.nps-score-holder {
  float: left;
  width: 125px;
  height: 125px;
  display: inline-block;
  margin-top: 25px;
  margin-right: 25px;
  color: white;

  text-align: center;
  vertical-align: middle;
  line-height: 125px;
  font-size: 32pt;
}

.book-review-count {
  color: #aaa;
  margin-top: 50px;
  text-align: center;
}

.white-git, .white-git:hover, .white-git:focus {
  font-size: 1.5rem;
  color: white;
}
